.header-home {
 /* height: 8vh; */
 /* background-color: rgb(110, 108, 108); */
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}


.nav-bar {
background-color:rgb(167, 149, 149);
 margin:0px ;
 height:8vh;
 width:100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 gap: 60px;
 letter-spacing: 2px;
 font-size: 1em;}

 /* NAV is not responsive8
 need to fix media query for nav */
@media (max-width: 568px) {
  .nav-bar  {
   margin: 0 auto;
   width:100%;
   display: flex;
   flex-direction: column;
   align-items: end;
   padding:10px 5px;
   font-size: 1em;     
 }}



.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url(https://picsum.photos/id/13/2550/1400);
  min-height: 1000px;
}

.pimg2 {
  background-image: url(../img/cliffs.jpg);
  min-height: 400px;
}

.pimg3 {
  background-image: url(../img/road.jpg);
  min-height: 400px;
}

.pimg4 {
  background-image: url(https://picsum.photos/id/13/2550/1400);
  min-height: 600px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 12px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: inline-block;
}
